.scan-line {
  position: absolute;
  top: -1px; /* Initial position above the image */
  width: 100%;
  height: 3px; /* Adjust height as needed */
  animation: scan 3s linear infinite; /* Adjust animation duration as needed */
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

@keyframes scan {
  0% {
    top: -1px;
  }
  100% {
    top: 100%; /* Moves to the bottom of the image */
  }
}
